body{
    background-color:rgb(33, 60, 60);
}

h1{
    color:white;
    text-align: center;
    font-style: italic;
}

.container{
    display:grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3,auto);
    gap: 20px;    
    padding: 20px;

}  

.box{
    background-color:rgb(241, 239, 239);
    display: flex;
    align-items: center;
    justify-content: center;    
    border-radius:10px;
    padding: 20px;

}

.box p{
    font-weight:bold;
}

.box img{
    object-fit:cover;
    width: 50%;
    height: auto;
    margin: 0 auto;
    border-radius: 8px

}

