body{
    background-color:rgb(58, 14, 14);
}

h1{
    color:whitesmoke;
    margin:20px ;
    text-align:center;
    padding:20px;
}


.container{
    width: 90%;  
    height:30%;  
    margin: 0 auto; 


    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap:10px;
  
}

.box{
    display:grid;
  
    background-image:url("bg.png");
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    object-fit:cover;

    justify-content:center;
    align-items:center;

    padding:10px;
  
    font-size: 30px;

}

.box img{
    padding-top: 30px;
    margin: 0 auto;
    object-fit:cover;

}

.box p{
    border: 2px solid black;
    display: inline-block;
    padding: 10px;
}

p{
    text-align: center; 
}
