body{
    background-image: url('bgmain.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h1{
    text-align: center;
    font-weight:bold;
    color: rgb(254, 251, 251);
    background-color:rgb(84, 23, 23);
    padding: 20px; 
    width: 100%;
}

.wrapper{
    text-align: center;
}

.candy {
    display: inline-block;   
    background-color: rgb(90, 37, 37);
    padding: 2px 12px;
    color:whitesmoke;
}

.container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center; 
    gap: 15px;
}

.box{
    width: 200px;
    padding:20px;
    text-align: center;
    background-color:rgb(90, 37, 37);
}

.box a{
     color:whitesmoke;
}

a:hover{
    text-decoration:underline;
    color: blue;

}

.footer {
    margin-top: 90px;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color:rgb(90, 37, 37);
    padding: 15px;
}

.footer a{
    color:whitesmoke;
}

.footer a:hover{
    color:blue;
}

