body{
    background-color:rgb(106, 77, 131);
}
h1{
    color:rgb(255, 255, 255);
    text-align:center;
    margin-top:20px;
    
}


.container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    gap:10px;
    width:700px;
    margin: auto;  
}

.box{
    background-color:rgb(58, 42, 69);
    padding: 20px;rgb(59, 38, 74)
    gap: 5px;
}

p{
    color:white;
    display:block;
    line-height: 1.6;  
   
}

